html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("фон.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    height: 200px;
}

.careta {
    width: 200px;
    height: auto;
}

.class {
    margin-top: 3px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    background-color: rgb(237, 171, 83);
    color: white;
    width: 750px;
    padding: 10px;
    border-radius: 15px;
    transition: transform 0.4s ease;
    cursor: pointer;
    font-size:23px;
}

    button:hover {
        transform: scale(1.03);
        background-color: rgb(247, 190, 114);
    }
main {
    width: 100%;
    height: 700px;
    align-content: center;
    justify-content: center;
}
    .gmail {
    display: flex;
    align-content: center;
    justify-content: center;
}

.pochta {
    width: 600px;
    height:auto;
    border: 1px solid black;
    border-radius: 30px;
    margin: 50px;
    transition: transform 0.3s ease;
}
.info {
    color:black;
    width: auto;
    height: auto;
    backdrop-filter: blur(10px);
    align-content: center;
    border: 1px solid white;
    margin: 50px;
    margin-left: 100px;
    padding: 25px;
    font-size: 25px;
    border-radius: 25px;
}
.name {
    width: 100px;
    height: 30px;
    border: 2px solid white;
    text-align: center;
    align-content: center;
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(30px);
}
.spam {
    margin-top: 40px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background: linear-gradient(to right,rgb(155, 171, 50), rgb(123, 135, 46), rgb(211, 217, 173));
    font-size: 80px;
    gap: 20px;
}

.photo {
    width: 130px;
    height: auto;
}
section{
  width:100%;
  height:400px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.vid {
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.car {
    width: 400px;
    backdrop-filter: blur(1px);
    border-radius: 30px;
}







footer {
    width: 100%;
    height: 200px;
    background: linear-gradient(to right,rgb(155, 171, 50), rgb(123, 135, 46), rgb(211, 217, 173));
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
    color: white;
}

a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    display: block;
}

.end2 {
    font-size: 24px;
}
